
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <form class="form-inline">

    <p>
      A propos:
      Toget est un réseau professionnel, de recrutement, d'affaires et de recherche de partenariats, de spécialités et de dépanneurs. Selons vos besoins, trouvez des personnes qualifiées.
    </p>
    <p>
      Contacts
      Adresse : 01 BP 13662 ABIDJAN 01
      Tel :  22 422 937
      Mobile : 77 950 437
      E-mail :  Info@toget.pro
      Site internet :  www.toget.pro
    </p>
  </form>
</nav>


